<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <JsonLayout compact="false" eventEol="true" properties="true" stacktraceAsString="true" locationInfo="true">
                <KeyValuePair key="microservice" value="testmicroservice"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.logger" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>